node_modules

# build outputs
dist
**/dist

# Nx cache
.nx

# Git metadata
.git

# Environment files should not be packaged
.env*

docker-compose.override.yml

# logs and temp files
*.log
npm-debug.log*
pnpm-debug.log*

gitignore
# Do NOT ignore project.json or nx.json